<!DOCTYPE html>
<html>
  <head>
    <title>Book List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
     
          <div id = "root">
              <h1>Enter your book title</h1>
              <div v-if="loading">
                  <p>loading...</p>
              </div>
      
              <div v-else>
              
            <form v-on:submit.prevent="bookFind">
                <input type="text" v-model="inquiry">
                <button type="bookFind">
                    Search
                </button>
      
            </form>
            <ul>
                <div v-for="item in myBooks">
                    <li> <img v-bind:src="item.thumbnail"/>{{item.title}} </br>
                        By: {{item.author}} </br>
                        Published in: {{item.publishDate}} 
                        <form v-on:submit.prevent="favoriteItem(item)">
                          <button v-on:click="favoriteItem(item)" >Add to favorites</button>
                      </form>
                    </li>
                  </div>

             </ul>
          
          
          
          <h1>Your favorites:</h1>
          <div v-for="item in myBooks">
          <div v-if = "item.favorite == true">
              <li><img v-bind:src="item.thumbnail"/>{{item.title}} </br>
                By: {{item.author}} </br>
                Published in: {{item.publishDate}} </br>
                <form v-on:submit.prevent="deleteItem(item)">
                  <button v-on:click="deleteItem(item)" >X</button>
              </form>  </li>
            </div>
          </div>
        </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>