body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: blueviolet;
   
}
img{
    object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li {
    background:salmon;
    width: 500px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 1em;
    display: flex;
    align-items: center;
}
#footer {

    position: fixed;
    bottom: 0;
    background: #eb0606;
    color: #f3f1f1;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10%;
   
}